h1{
    text-align: center;
    color: #ffa511;
    text-decoration: double underline teal;
    font-size: 55px;
    font-weight: 900;
    font-family: League spartan;
    letter-spacing: 2px;
    line-height: 1.5;
    text-transform: uppercase;
}